In [9]:
import pandas as pd

Zillow = "C:/Users/Cemen/OneDrive/Documents/GitHub/Project-2/Resources/1. Zillow Project 2.csv"
Cases = "C:/Users/Cemen/OneDrive/Documents/GitHub/Project-2/Resources/2. COVID Cases - Project 2.csv"

In [10]:
Zillow_df = pd.read_csv(Zillow)
Zillow_df.head()

C:\Users\Cemen\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/1996,...,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,"223,469",...,1152491,1129471,1101051,1088618,1078931,1075287,1072738,1072625,1075648,1073416
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,205864,...,476938,478070,479687,480848,481240,481907,483484,485902,489188,492585
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,227596,...,1105727,1118319,1118234,1126375,1129930,1132927,1133142,1136998,1149940,1152889
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,202808,...,339589,339794,340299,341466,342543,343323,343861,344957,346034,347871
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,276752,...,619001,619244,619927,619687,619649,619916,621376,623279,626620,629989

In [6]:
Cases_df = pd.read_csv(Cases)

In [11]:
for col in Zillow_df.columns: 
    print(col)

RegionID
SizeRank
RegionName
RegionType
StateName
State
City
Metro
CountyName
1/31/1996
2/29/1996
3/31/1996
4/30/1996
5/31/1996
6/30/1996
7/31/1996
8/31/1996
9/30/1996
10/31/1996
11/30/1996
12/31/1996
1/31/1997
2/28/1997
3/31/1997
4/30/1997
5/31/1997
6/30/1997
7/31/1997
8/31/1997
9/30/1997
10/31/1997
11/30/1997
12/31/1997
1/31/1998
2/28/1998
3/31/1998
4/30/1998
5/31/1998
6/30/1998
7/31/1998
8/31/1998
9/30/1998
10/31/1998
11/30/1998
12/31/1998
1/31/1999
2/28/1999
3/31/1999
4/30/1999
5/31/1999
6/30/1999
7/31/1999
8/31/1999
9/30/1999
10/31/1999
11/30/1999
12/31/1999
1/31/2000
2/29/2000
3/31/2000
4/30/2000
5/31/2000
6/30/2000
7/31/2000
8/31/2000
9/30/2000
10/31/2000
11/30/2000
12/31/2000
1/31/2001
2/28/2001
3/31/2001
4/30/2001
5/31/2001
6/30/2001
7/31/2001
8/31/2001
9/30/2001
10/31/2001
11/30/2001
12/31/2001
1/31/2002
2/28/2002
3/31/2002
4/30/2002
5/31/2002
6/30/2002
7/31/2002
8/31/2002
9/30/2002
10/31/2002
11/30/2002
12/31/2002
1/31/2003
2/28/2003
3/31/2003
4/30/2003
5/31/2003
6/30/2003
7/31/2003
8/31/2003
9/30/2003
10/31/2003
11/30/2003
12/31/2003
1/31/2004
2/29/2004
3/31/2004
4/30/2004
5/31/2004
6/30/2004
7/31/2004
8/31/2004
9/30/2004
10/31/2004
11/30/2004
12/31/2004
1/31/2005
2/28/2005
3/31/2005
4/30/2005
5/31/2005
6/30/2005
7/31/2005
8/31/2005
9/30/2005
10/31/2005
11/30/2005
12/31/2005
1/31/2006
2/28/2006
3/31/2006
4/30/2006
5/31/2006
6/30/2006
7/31/2006
8/31/2006
9/30/2006
10/31/2006
11/30/2006
12/31/2006
1/31/2007
2/28/2007
3/31/2007
4/30/2007
5/31/2007
6/30/2007
7/31/2007
8/31/2007
9/30/2007
10/31/2007
11/30/2007
12/31/2007
1/31/2008
2/29/2008
3/31/2008
4/30/2008
5/31/2008
6/30/2008
7/31/2008
8/31/2008
9/30/2008
10/31/2008
11/30/2008
12/31/2008
1/31/2009
2/28/2009
3/31/2009
4/30/2009
5/31/2009
6/30/2009
7/31/2009
8/31/2009
9/30/2009
10/31/2009
11/30/2009
12/31/2009
1/31/2010
2/28/2010
3/31/2010
4/30/2010
5/31/2010
6/30/2010
7/31/2010
8/31/2010
9/30/2010
10/31/2010
11/30/2010
12/31/2010
1/31/2011
2/28/2011
3/31/2011
4/30/2011
5/31/2011
6/30/2011
7/31/2011
8/31/2011
9/30/2011
10/31/2011
11/30/2011
12/31/2011
1/31/2012
2/29/2012
3/31/2012
4/30/2012
5/31/2012
6/30/2012
7/31/2012
8/31/2012
9/30/2012
10/31/2012
11/30/2012
12/31/2012
1/31/2013
2/28/2013
3/31/2013
4/30/2013
5/31/2013
6/30/2013
7/31/2013
8/31/2013
9/30/2013
10/31/2013
11/30/2013
12/31/2013
1/31/2014
2/28/2014
3/31/2014
4/30/2014
5/31/2014
6/30/2014
7/31/2014
8/31/2014
9/30/2014
10/31/2014
11/30/2014
12/31/2014
1/31/2015
2/28/2015
3/31/2015
4/30/2015
5/31/2015
6/30/2015
7/31/2015
8/31/2015
9/30/2015
10/31/2015
11/30/2015
12/31/2015
1/31/2016
2/29/2016
3/31/2016
4/30/2016
5/31/2016
6/30/2016
7/31/2016
8/31/2016
9/30/2016
10/31/2016
11/30/2016
12/31/2016
1/31/2017
2/28/2017
3/31/2017
4/30/2017
5/31/2017
6/30/2017
7/31/2017
8/31/2017
9/30/2017
10/31/2017
11/30/2017
12/31/2017
1/31/2018
2/28/2018
3/31/2018
4/30/2018
5/31/2018
6/30/2018
7/31/2018
8/31/2018
9/30/2018
10/31/2018
11/30/2018
12/31/2018
1/31/2019
2/28/2019
3/31/2019
4/30/2019
5/31/2019
6/30/2019
7/31/2019
8/31/2019
9/30/2019
10/31/2019
11/30/2019
12/31/2019
1/31/2020
2/29/2020
3/31/2020
4/30/2020
5/31/2020
6/30/2020
7/31/2020
8/31/2020
9/30/2020
10/31/2020

In [12]:
Zillow_2020 = Zillow_df[['RegionID',
'SizeRank',
'RegionName',
'RegionType',
'StateName',
'State',
'City',
'Metro',
'CountyName', '1/31/2020',
'2/29/2020',
'3/31/2020',
'4/30/2020',
'5/31/2020',
'6/30/2020',
'7/31/2020',
'8/31/2020',
'9/30/2020',
'10/31/2020']].copy()

In [13]:
Zillow_2020.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,1152491,1129471,1101051,1088618,1078931,1075287,1072738,1072625,1075648,1073416
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,476938,478070,479687,480848,481240,481907,483484,485902,489188,492585
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,1105727,1118319,1118234,1126375,1129930,1132927,1133142,1136998,1149940,1152889
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,339589,339794,340299,341466,342543,343323,343861,344957,346034,347871
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,619001,619244,619927,619687,619649,619916,621376,623279,626620,629989